<template name="MasterLayout">
  <div id="topbar">
    <div id="logo" class="action-go-home"></div>
    <div id="brand" class="action-go-home">krazy.io</div>
    <div id="userbar">
      {{#if currentUser}}
        {{#with currentUser}}
          <img src={{profile.avatar}} width="32" height="32" style="vertical-align: bottom">
        {{/with}}
      {{/if}}
      {{>loginButtons}}
    </div>
  </div>
  <div id="userstatus">
    Other Users Online:
    {{#each OnlineUsers}}
      <img class="online" src={{profile.avatar}} title={{profile.name}}>
    {{/each}}
  </div>
  <div id="main">
    {{>yield}}
  </div>
</template>
