template(name='MasterLayout')
  #topbar
    #logo.action-go-home
    #brand.action-go-home krazy.io
    #userbar
      if currentUser
        +with currentUser
          img(src=profile.avatar width="32" height="32" style="vertical-align: bottom")
      +loginButtons
  #userstatus
    | Other Users Online:
    each OnlineUsers
      img.online(src=profile.avatar title=profile.name)
  #main
    +yield
