template(name='Index')
  #topbar
    #logo
    #brand krazy.io
    #userbar
      if currentUser
        +with currentUser
          img(src=profile.avatar width="32" height="32" style="vertical-align: bottom")
      +loginButtons

  #main
    if currentUser
      with board
        +Board
