template(name='home')

  #topbar
    #logo
    #brand krazy.io
    #userbar
      if currentUser
        +with currentUser
          +userbar
      +loginButtons

  #main
    if currentUser
      +board

template(name="userbar")
  img(src=profile.avatar width="32" height="32" style="vertical-align: bottom")

template(name="board")
  h1 My Board
  button#newWidget new widget
  #board
    each widgets
      +widget
