template(name='Home')

  #topbar
    #logo
    #brand krazy.io
    #userbar
      if currentUser
        +with currentUser
          +Userbar
      +loginButtons

  #main
    if currentUser
      +Board

template(name="Userbar")
  img(src=profile.avatar width="32" height="32" style="vertical-align: bottom")
